[data-loading] {
  position: relative;
  min-height: 80px;

  &:before {
    content: attr(data-loading);
    padding: 8px;
    font-size: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: rgba(#FFF, .8);
  }
}