
.c-screenLocker {
  background: orange;
  border: 4px dashed red;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.loading-screen {
  background: green;
  border: 4px dashed red;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.logout {
  position: absolute;
  right:5px;
  top:5px;
  background: url('media/close.png') no-repeat center;
  background-size: 40px;
  width:40px;
  height:40px;
  opacity: 0.7;
  &:hover {opacity: 1;}
  cursor: pointer;
}
