// @import 'core/core';

.c-input {
  width: 100%;

  &>input {
		width: 100%;
    outline: none;
    background-repeat: no-repeat;
    line-height: 0;
    font-size: 36px;
    height:60px;
    line-height:70px;
    border-radius: 20px;
    padding: 0 10px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    color:#eee;
    outline: none;
    border: 4px solid #eee;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
  }
}
