@font-face {
  font-family: 'JazzBall';
  src:	url('../media/Jazz_Ball_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JazzBallBold';
  src:	url('../media/Jazz_Ball_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
img {border:none;}

html {height:100%;}
body {
  margin: 0;
  height:100%;
  }

  #root {
    height: 100%;
  }


.hm3_client_layout {
  font-family: 'JazzBall';
  font-size: 20px;
  font-weight: 'normal';
  height: 100vh;
  overflow-y: hidden;

  a,a:visited {
    text-decoration: none;color: #70b6e4;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    outline: none;
  }
  a:hover {
    text-decoration:none;
    color: #ceecff;
  }

  h1, h2, h3, h4, h5, h6 {margin: 0;}

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;


  background: #4b3b5a;
  height:100%;
  padding: 20px;

  .central {
    width:360px;
    height:680px;
    position: relative;
    margin: 0 auto;
  }


  .c-iphone-frame {
    position: absolute;
    top:-20px;
    width: 360px;
    height: 800px;
    background: red;
    background: url('../media/iphoneframe.png') left top no-repeat;
    background-size: 360px auto;
    pointer-events: none;
    z-index: 1000;
  }

  .c-iphone-shadow {
    position: absolute;
    bottom: -40px;
    background: red;
    height:50px;
    width:800px;
    left:-200px;
    background: url('../media/shadow.png') no-repeat center red;
    background: url('../media/shadow.png') no-repeat center;
    background-size: cover;
    opacity: 0.4;
  }

  .playerField {
    position: absolute;
    top:5px;;
    left:27px;
    background: #103e71;
    margin: 0 auto;
    width: 306px;
    height: 662px;
    overflow: auto;
    z-index: 2;
    color:#eee;
  }

}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #444;
  &:hover {
    background: #888;
  }
}
::-webkit-scrollbar-corner {
	background: transparent;
}

.c-notifications {
	position: relative;
  z-index: 10;
  width: 280px;
  margin: 0px auto;
  padding-top: 40px;

	&.fullscreen {
		top:74px;
	}

	&>div {
		cursor: pointer;
		margin-top: 10px;
		&:nth-of-type(1) {margin-top: 0;}
    min-height: 48px;
    width: 100%;
    border-radius: #222;
    box-shadow: 0 2px 10px rgba(15,17,20,0.5);
    padding: 14px 16px 14px 48px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);

		&.error {
      background: #e67676;
		}
	}
}
