@import 'core/core';

.button {
  border-radius: $borderradius;
  text-align: center;
  padding: 0;
  outline: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: block;
  border: 1px solid transparent;
  font-size: 13px;
  color: transparent;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 4px $blackcolor_o032;
  line-height: 100%;

  background: no-repeat center;
  //
  // &.icon_add-favorites {background-image: url('/static/ui/icons/add_bookmark.svg')}
  // &.icon_at {background-image: url('/static/ui/icons/at.svg')}
  // &.icon_bookmarks {background-image: url('/static/ui/icons/bookmarks.svg')}
  // &.icon_lock {background-image: url('/static/ui/icons/lock.svg')}
  // &.icon_remove {background-image: url('/static/ui/icons/remove.svg')}
  // &.icon_search {background-image: url('/static/ui/icons/search.svg')}
  // &.icon_settings {background-image: url('/static/ui/icons/settings.svg')}
  // &.icon_white_cross {background-image: url('/static/ui/icons/white_cross.svg')}

  &.withText {
    padding: 0 15px;
    color: $whitecolor_o100;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.2px;
  }

  &.withIcon.withText {
    background-position: 16px center;
    padding-left: 44px;
  }



  &.size_small {
    height:32px;
    min-width: 32px;
    line-height:30px;
  }
  &.size_medium {
    height:40px;
    min-width: 40px;
    line-height:38px;
  }
  &.size_large {
    height:48px;
    min-width: 48px;
    line-height:46px;
  }


  @include transition(opacity);

  &.primary {
    // @include gradientedBG();
    border: 1px solid transparent;
    color:$whitecolor_o100;
    background-color: $accentcolor_m50_o100;
    &:hover {background-color: $accentcolor_m25_o100;}
    &:active {background-color: $accentcolor_m75_o100;}
    @include transition(background-color);
  }

  &.secondary {
    border: 1px solid $accentcolor_m100_o100;
    color:$accentcolor_m50_o100;
    background-color:transparent;
    &:hover {border-color: $accentcolor_m75_o100;}
    &:active {
      border-color: $accentcolor_m50_o100;
      background-color: $accentcolor_m50_o008;
    }
    @include transition(border);
  }
  &.ghost {
    color:$forecolor_m25_o100;
    background-color: transparent;
    &:hover {background-color: $forecolor_m100_o32;}
    &:active {
      background-color: $forecolor_m100_o16;
    }
    @include transition(background-color);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }







  // &>div:nth-of-type(1) {
  //   background: #fff;
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   height: 100%;
  //   opacity: 0;
  //   @include transition(opacity);
  // }
  // &:hover>div:nth-of-type(1) {
  //   opacity: 0.08;
  // }



  // &>div:nth-of-type(2) {
  //   position: relative;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   height: 100%;
  // }

}
